$headerWrap_header_padding_vertical:25px;
$headerWrap_header_logo_height:44px;
$headerWrap_header_nav_height:44px;


$headerWrap_nav_list_item_padding_horizontal:20px;

$headerWrap_nav_list_item_hover_main:#ccc;

$headerWrap_header_nav_seperator_color:#ccc;
$icon_draw_location_color:#777;
