$icon_draw_size_small:5px;
$icon_draw_size_large:10px;

//location
$icon_draw_location_color:#777;


//toggler
$icon_draw_toggler_size:40px;
$icon_draw_toggler_color:#b6b8b7;
$icon_draw_toggler_padding:6px;
$icon_draw_bar_height:2px;

