$search_input_padding_vertical:3px;
$search_input_padding_horizontal:5px;

//search_width
$search_width_large:220px;
$search_width_small:180px;
$search_height_default:30px;
$search_height_large:40px;


$search_border_default:#b6b8b7;
$search_btn_bg_color_default:#b6b8b7;
$search_border_radius_default:10px;





