.hope_article{
}


//title
.hope_article_titleGroup{
  margin-bottom:$article_titleGroup_marginBottom;
}
.hope_article_titleGroup_Center{
  text-align: center;
}
.hope_article_title{
  font-family: "Microsoft Yahei";
  font-size: $article_title_fontSize;
  line-height: 32px;
  font-weight: bold;
  margin-bottom:10px;
}
.hope_article_info{
  color:$article_info_color;
}
//content
.hope_article_content{
  padding-bottom:$article_content_padding_bottom;

  p{
    margin:$article_content_padding_vertical 0;
  }
}

//editor
.hope_article_editor{
  padding-bottom:10px;
  text-align: right;
  white-space: nowrap;
  border-bottom: 1px dashed $global_color_seperator;
}

//preNext
.hope_article_preNext{
  color:$article_perNext_fontColor;
  line-height: 24px;
  padding:$article_preNext_padding_vertical 0;
}
