.hope_list{
  display:block;
}
.hope_list_NoBorderBottom{
  .hope_list_item{
    border:none;
  }
}
.hope_list_TextCenter{
    .hope_list_item_content{
        text-align:center;
    }
}
//list_item
.hope_list_item{
  line-height:$list_linehieght;
  border-bottom:1px dashed $list_border_color_default;
  overflow: hidden;
}

//hope_list_time
.hope_list_time{
  float:right;
  margin-left:$list_time_margin_left;
}
.hope_list_viewers{
	float:right;
	margin-left:$list_viewers_margin_left;
}
//hope_list_item_content
.hope_list_item_contentBox{
  overflow:hidden;
}
.hope_list_item_content{
  width:100%;
  display:block;
  @extend %text_ellipsis;
}

//hope_list_style_icon
.hope_list_style{
  display: inline-block;
  vertical-align: middle;
  margin-right:$list_style_margin_right;
  background: $list_style_icon_color_default;
  border-color: $list_style_icon_color_default;
}
.hope_list_style_Square{
  width:$list_style_icon_size;
  height:$list_style_icon_size;
}
.hope_list_style_Round{
  width:$list_style_icon_size;
  height:$list_style_icon_size;
  border-radius: 50%;
}
.hope_list_style_Triangle{
  border-width:$list_style_icon_size;
  border-style: solid;
  height:0;
  width:0;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  background: transparent !important;
  margin-right:$list_style_margin_right - $list_style_icon_size;
}

.hope_newArts_item{
    margin-bottom: 20px;
    border-bottom: solid 1px #d9d9d9;
}
.hope_newArts_item_header{
    overflow:hidden;
}
.hope_newArts_viewer{
    float:right;
    margin-left:5px;
    background:#bfbfbf;
    color:#fff;
    font-size:14px;
    border-radius:3px;
    line-height:20px;
    padding:0 3px;
}
.hope_newArts_title{
    overflow:hidden;
    font-weight:bold;
    line-height:24px;
    height:32px;
    @extend %text_ellipsis;
}
a.hope_newArts_title{
    color:#010101;
}
.hope_newArts_item_con{
    margin-bottom:10px;
    @extend %text_ellipsis;
}
