
.hope_listbox{
  overflow:hidden;
}
.hope_listbox_item{
  margin-bottom:10px;
  overflow:hidden;
  padding-bottom:$listbox_item_padding_bottom;
}
.hope_listbox_item_BorderBottom{
  border-bottom:1px solid $global_color_seperator;
  &:last-child{
    border-bottom: none;
  }
}
.hope_listbox_item_PicRight{
  .hope_listbox_item_pic{
    @include SmallDesk{
      float:right;
      margin-left:$list_item_pic_padding_vertical;
      margin-right:0;
    }
  }
}
.hope_listbox_item_title{
  border-bottom:1px dashed $listbox_item_title_border_color;
  line-height:30px;
  margin-bottom:10px;
}
.hope_listbox_item_pic{
  img{
    width:100%;
  }
  @include SmallDesk{
    float:left;
    margin-right:$list_item_pic_padding_vertical;
    margin-left:0;
    margin-top:4px;
    img{
      width:auto;
    }
  }
}
.hope_listbox_item_list{
  overflow: hidden;
}
