.hope_search{
  display:block;
  height:$search_height_default;
  overflow: hidden;
  border:1px solid $search_border_default;
}
//style
.hope_search_FixedWidth_Large{
   width:$search_width_large;
 }
.hope_search_FixedWidth_Small{
  width:$search_width_small;
}
.hope_search_WithRadius{
  border-radius:$search_border_radius_default;
}
.hope_search_LargeHeight{
  height:$search_height_large;
  .hope_search_input{
    height:$search_height_large;
  }
  .hope_search_searchBtn{
    height:$search_height_large;
    width:$search_height_large;
  }
}


//search button
.hope_search_searchBtn{
  display: block;
  background-color: $search_btn_bg_color_default;
  float:right;
  overflow: hidden;
  height:$search_height_default;
  width:$search_height_default;
}
.hope_search_inputBox{
  overflow:hidden;
}
.hope_search_input{
  @include box_sizing(border-box);
  width:100%;
  padding:$search_input_padding_vertical $search_input_padding_horizontal;
  height:$search_height_default;
}
