.hope_sidebar{
  width:$sidebar_width;
  padding:0 $sidebar_padding_horizontal;
}
.hope_sidebar_StyleRed{
  .hope_sidebar_img_word{
    color:$sidebar_color_red;
  }
  .hope_sidebar_section_title{
    color:$sidebar_color_red;
  }
  .hope_sidebar_tag{
    color:$sidebar_tag_font_color;
    &:hover{
      color:$sidebar_color_red;
    }
  }

  .hope_list_item_content{
    &:hover{
      color:$sidebar_color_red;
    }
  }
}

.hope_sidebar_StyleBlue{
  .hope_sidebar_img_word{
    color:$sidebar_color_blue;
  }
  .hope_sidebar_section_title{
    color:$sidebar_color_blue;
  }
  .hope_sidebar_tag{
    color:$sidebar_tag_font_color;
    &:hover{
      color:$sidebar_color_blue;
    }
  }

  .hope_list_item_content{
    &:hover{
      color:$sidebar_color_blue;
    }
  }
}
.hope_sidebar_StyleCul{
  .hope_sidebar_img_word{
    color:$sidebar_color_cul;
  }
  .hope_sidebar_section_title{
    color:$sidebar_color_cul;
  }
  .hope_sidebar_tag{
    color:$sidebar_tag_font_color;
    &:hover{
      color:$sidebar_color_cul;
    }
  }

  .hope_list_item_content{
    &:hover{
      color:$sidebar_color_cul;
    }
  }
}
//img
.hope_sidebar_img{
  width:100%;
  position: relative;
  display:block;
  line-height:0;
  margin-bottom:5px;
  img{
    width:100%;
  }
}
.hope_sidebar_img_word{
  position: absolute;
  bottom:10px;
  right:5px;
  font-size:12px;
  line-height:14px;
  display: block;
}
//section
.hope_sidebar_section{
  padding-top:20px;
}
.hope_sidebar_section_title{
  line-height:$sidebar_section_title_height;
  background:$sidebar_section_title_bg;
  text-align:center;
  font-weight:bold;
  display:block;
}
.hope_sidebar_section_content{
  padding-top:12px;
  overflow:hidden;
}
//tag
.hope_sidebar_tag{
  display:block;
  float:left;
  width:($sidebar_width - 4px * 6)/3;
  line-height:25px;
  text-align: center;
  margin:0 4px 12px;
  background:$sidebar_section_title_bg;
  @extend %text_ellipsis;
}
