



$global_color_a:#000;
$global_color_boxShadow:#333;
$global_bg_body_culture:#33312e;
$main_index_cnt_font_color:#666;
$main_font_color:#808080;
$footer_color_font:#999;
$search_border_option2: #ccc;
$global_color_seperator:#d9d9d9;
$search_btnColor_option2:#b6b8b7;
$global_bg_body_main:#f0f0f0;
$global_bg_body_internal:#f5f5f5;

$sidebar_color_red:#cf5d53;
$global_color_a_link:#ff0000;
$main_index_icon_color:#d90000;

$search_border_option1:#e0d3b3;
$list_style_icon_color_option2:#bd9d6b;
$pager_color_link_active:#b59563;
$search_btnColor_option1:#d2b27f;

$listbox_item_title_border_color:#2c87ed;




$list_style_icon_color_blue:#2c87ed;
$sidebar_color_blue:#2c87ed;
$article_perNext_fontColor:#2c87ed;

$list_style_icon_color_option1:#ccc;
$list_border_color_option1:#ccc;
$headerWrap_header_nav_seperator_color:#ccc;

$main_index_a_color_hover:#b6b8b7;
$icon_draw_toggler_color:#b6b8b7;

$pager_color_link:#b59563;

$list_border_color_option2:#bd9d6b;

$main_a_color_hover:#d90000;

$article_info_color:#808080;