.hope_location{
  margin:0 $global_padding_horizontal 10px $global_padding_horizontal;
  border-bottom:1px solid $global_color_seperator;
  overflow: hidden;
  padding-bottom:8px;
}
.hope_location_searchInfo{
  display: none;
  @include SmallDesk{
    float:right;
    display:block;
  }

}
.hope_location_locationInfo{
  overflow: hidden;
  line-height: $search_height_default + 2px;
  @extend %text_ellipsis;
}
