$list_linehieght:30px;


//border_color
$list_border_color_default:#b6b8b7;

//list_style_icon
$list_style_icon_color_default:#b6b8b7;

$list_style_icon_size:5px;

$list_style_margin_right:5px;
$list_time_margin_left:5px;
