.main_slider{
	border-bottom:3px solid $main_a_hover_color;
}
.main_slider_list_item_1{
	background-image:url(../images/sliders/1200/main_slider_1.jpg);
}
.main_slider_list_item_2{
	background-image:url(../images/sliders/1200/main_slider_2.jpg);
}
.main_slider_list_item_3{
	background-image:url(../images/sliders/1200/main_slider_3.jpg);
}
	
	
