.main_slider_list_item_1{
	background-image:url(../images/sliders/1200/main_slider_1.jpg) no-repeat;
}
.main_slider_list_item_2{
	background-image:url(../images/sliders/1200/main_slider_2.jpg) no-repeat;
}
.main_slider_listitem_3{
	background-image:url(../images/sliders/1200/main_slider_3.jpg) no-repeat;
}
	
	
