//main_slider
.main_slider{
	border-bottom:3px solid $main_a_hover_color;
}
.main_slider_list_item_1{
	background-image:url(../images/sliders/1200/main_slider_1.jpg);
}
.main_slider_list_item_2{
	background-image:url(../images/sliders/1200/main_slider_2.jpg);
}
.main_slider_list_item_3{
	background-image:url(../images/sliders/1200/main_slider_3.jpg);
}
//index_show	
.main_index_show{ 
	background: #fff; 
}
a.main_index_show_item_title{ 
	color:$main_font_color; 
}
.main_index_show{
  @include boxShadow;
  overflow:hidden;
  .hope_container{
    position: relative;
    padding:0;
	max-width:960px + 2 * $global_padding_horizontal;
    @include SmallDesk{
      &:before{
        content:'';
        display:block;
        height:0;
        left:$global_padding_horizontal;
        right:$global_padding_horizontal;
        border-top:1px solid $global_color_seperator;
        bottom:52px;
        position: absolute;
      }
    }
  }
}
.main_index_show_item{
  .hope_list_item_content{
	color:#808080;
  }
  @include box_sizing(border-box);
  float:left;
  width:100%;
  padding:0 $global_padding_horizontal;
  @include SmallDesk{
    width: 50%;
  }
  @include MediumDesk{
    width: 25%;
  }
  .hope_list{
    .hope_list_item:last-child{ 
		border-bottom:1px solid $global_color_seperator; 
	}
  }
}
.main_index_show_item_Expc{
	width:auto;
}
a.main_index_show_item_title{
  padding-top:10px;
  font:18px/32px "Microsoft Yahei";
  font-weight: bold;
  display: block;
  i{vertical-align: middle;}
}
.main_index_show_extral{
  float:right;
  padding:10px $global_padding_horizontal 10px 0;
  display:none;
  @include SmallDesk{
    display:block;
  }
}
.main_index_show_share{
	float:right;
	width:320px;
	height:32px;
	line-height:32px;
	padding:10px 0;
}
//index_cnt
a.main_index_cnt_title_content{ 
	color:#000; 
	height: 30px;
	font: 16px/30px "Microsoft Yahei";
}
.main_index_cnt .hope_list_item_content{ 
	color:$main_index_cnt_font_color; 
}
.main_index_cnt{
  overflow:hidden;
  padding-bottom:5px;
  &_left{
    float:left;
    width:100%;
  }
  &_newArticles{
    @include SmallDesk{
      margin-right:$global_padding_horizontal + 280px;
    }
	.hope_list_style{
		margin-left:8px;
		margin-right:8px;
	}
    .hope_list_item:last-child{ border:none; }
  }
  &_right{
    float:left;
    width:100%;
    @include SmallDesk{
      width:280px;
      margin-left:-280px;
    }

    &_imgShow{
      padding:7px 0;
      overflow: hidden;
      a{  display: block;line-height: 0;float: left;width:100%;height:79px;@include LargePhone{width:48%;} @include SmallDesk{width: 100%;}}
      .main_index_cnt_right_imgShow_2{ margin-top:10px;@include LargePhone{ margin-left:4%;margin-top:0; }@include SmallDesk{ display: none; } }
      img{ height:100%;width:100%; }
    }
    .hope_list_item:last-child{ border:none; }
  }
  &_title{
    line-height:32px;
    border-bottom:1px solid $global_color_seperator;
    font-size:14px;
    &_content{
      display: block;
      overflow: hidden;
    }
    &_icon{
      vertical-align: -4px;
      font-size:20px;
    }
  }
}
a.main_index_cnt_readMore{
    padding:0 9px;
    float:right;
    font-size:12px;
    line-height:18px;
	background:$main_index_cnt_more_bg_color;
	color:#fff;
	border-radius:2px;
	&:hover{ 
		color:#fff;
		background: $main_index_cnt_more_bg_hover_color; 
	} 
    margin-top:7px;
  }

