@import "var/var";
$main_a_hover_color:#d90000;

$main_headerWrap_bg_color:#fff;

$main_nav_list_item_hover_font_color:#fff;
$main_nav_list_item_hover_bg_color:#d90000;

//index
$main_font_color:#808080;

$main_index_cnt_font_color:#666;
$main_index_cnt_more_bg_color:#b6b8b7;
$main_index_cnt_more_bg_hover_color:#d90000;

//column
$main_box_bg_color:#fff;
$main_box_border_color:#d9d9d9;
$main_box_right_width:230px;

//case
$case_index_item_width:306px;
$case_index_item_space:18px;

$case_dev_item_width:472px;
$case_dev_item_margin:8px;
$case_dev_item_padding_horizontal:20px;
$case_dev_item_padding_vertical:12px;
$case_dev_item_minWidth:300px;

$case_dev_item_margin_vertical:25px;

$case_dev_item_con_partHeight:143px;
