@import "var/var";
$main_a_hover_color:#d90000;

$main_headerWrap_bg_color:#fff;

$main_nav_list_item_hover_font_color:#fff;
$main_nav_list_item_hover_bg_color:#d90000;

//index
$main_font_color:#808080;

$main_index_cnt_font_color:#666;
$main_index_cnt_more_bg_color:#b6b8b7;
$main_index_cnt_more_bg_hover_color:#d90000;

//column
$main_box_bg_color:#fff;
$main_box_border_color:#d9d9d9;
$main_box_right_width:230px;
