// #box_sizing
@mixin box_sizing($value)
{
  -webkit-box-sizing:$value;
  -moz-box-sizing:$value;
  box-sizing:$value;
}
@mixin boxShadow{
  box-shadow: 2px 1px 1px $global_color_boxShadow;
}
// #text_ellipsis
%text_ellipsis
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  //word-wrap:break-word;
  // word-break:break-all;
}

// #opacity
@mixin opacity ($var)
{
  -webkit-opacity:$var;
  -moz-opacity:$var;
  -khtml-opacity:$var;
  opacity:$var;
  filter:alpha(opacity=$var*10);
}
