.hope_slider{
  height:$slider_height_large;
}
.ie_main_slider_list_item_1{
  background-image: url("../images/slider1920/main_slider_1.jpg");
}
.ie_main_slider_list_item_2{
  background-image: url("../images/slider1920/main_slider_2.jpg");
}
.ie_main_slider_list_item_3{
  background-image: url("../images/slider1920/main_slider_3.jpg");
}