@import "var";
@import "mixin/mixin";

@mixin Cul-2{
    @media (min-width:596px){
        @content
    } 
}
@mixin Cul-3{
    @media (min-width:898px){
        @content
    } 
}
@mixin Cul-4{
    @media (min-width:1202px){
        @content
    } 
}


.culture_box{
    background:#f5f4f2;
    padding:20px 0;
    .hope_card{
        padding-bottom:20px;
    }
}
.culture_container{
    padding:0 20px;
    max-width:1202px;
    margin:0 auto;
}
/* banner location */
.culture_banner{
    line-height:0;
    border-bottom:1px solid #d9d9d9;
    padding-bottom:20px;
    position:relative;
    @include Cul-3{
        width:898px;
        margin:0 auto;
    }
    @include Cul-4{
        width:1202px;
        &:after{
            display:block;
            content:'';
            clear:both;
        }
    }
    &_img{
        display:block;
        img{
            width:100%;
        }
        @include Cul-4{
            width:900px;
            float:left;
        }
    }
    &_joinus{
        display:none;
        @include Cul-4{
            text-align:right;
            display:block;    
            overflow:hidden;
        }
    }
}
.culture_location{
    max-width:1202px;
    margin:0 auto 20px auto;
    line-height:36px;
    border-bottom:1px solid #d9d9d9;
    position:relative;
    .cul_icon{
        vertical-align:-7px;
        margin-right:10px;
    }
}
.culture_banner:before,.culture_location:after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	right:0;
	height:0;
	bottom:-2px;
	border-bottom:1px solid #fff;
}
.culture_sectionTitle{
    font-family: "Microsoft Yahei";
    font-size: 20px;
    color: #bd9d6b;
    display:block;
    padding-bottom:20px;
}
