.culture_con{
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #bfbfbf;
}
.culture_con_title{
    overflow: hidden;
    margin: 0px auto 30px auto;
    padding-bottom: 16px;
    border-bottom: solid 1px #d9d9d9;
}
.culture_con_title_left{
    width: 50px;
    height: 50px;
    float: left;
    margin-right:20px;
    line-height:0;
    display:block;
}
.culture_con_title_right{
    overflow:hidden;
}
.culture_con_title_con{
    color: #666;
    line-height: 30px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}
.culture_con_title_info{
    color: #999;
    line-height: 20px;
}
.culture_con_body{
    overflow:hidden;
}
.culture_con_left{
    width:100%;
    @include SmallDesk{
        float:left;
    }
}
.culture_con_box{
    .hope_article_preNext{
        li{
            color:#000;
        }
    }
    @include SmallDesk{
        overflow:hidden;
        margin-right:224px;
        padding-right:24px;
        border-right:1px solid #d9d9d9;
    }
}
.culture_con_right{
    display:none;
    @include SmallDesk{
        float:left;
        display:block;
        width:224px;
        margin-left:-224px;
        position:relative;
        &:before{
            position:absolute;
            content:'';
            display:block;
            left:-1px;
            top:0;
            bottom:0;
            width:0;
            border-left:1px solid #d9d9d9;
        }
    }
    .hope_list_item{
        list-style: decimal inside;
        color: #999;
    }
    .hope_list_item_contentBox,.hope_list_item_content{
        display:inline;
    }

}
.commentbox {margin-top:20px; overflow:hidden;}
.commentbox_type{height:98px;background-color:#fff; border:solid 1px #d9d9d9; border-radius:2px;}
.hope_narrow_page .commentbox_type {width:633px;}
textarea#Content {width:97%; height:90px; padding:4px 1%; border:none; resize:none; overflow:auto;}
.commentbox_share {width:100%; float:left; }
.hope_narrow_page .commentbox_share {width:635px;}
.commentbox_submit{width:80px;height:28px; background-color:#b40000;color:#fff; display:block;text-align:center;float:right;font-weight:bold; margin-top:7px;cursor:pointer;}

.commentlist {width:100%; height:auto; float:left; margin-top:20px;}
.comment {position:relative; width:100%; min-height:60px; height:auto; border-bottom:dashed 1px #d9d9d9; margin:10px 0; padding-top:5px; overflow:hidden; *zoom:1;}
.comment_body {width:100%; height:auto; min-height:40px;}
.hope_narrow_page .comment_body {width:585px;}
.comment_body p, .comment_body a {margin-left:50px; line-height:20px;}
.comment_name{font-weight:bold;}
.comment_time{color:#808080;float:right;}
