@import "var/var";
$culture_a_hover_color:#d2b27f;

$culture_nav_list_item_font_color:#595959;
$culture_nav_list_item_hover_font_color:#fff;
$culture_nav_list_item_hover_bg_color:#bd9d6b;

//index
$culture_index_cnt_more_bg_hover_color:#d2b27f;

/*column
$main_box_bg_color:#fff;
$main_box_border_color:#d9d9d9;
$main_box_right_width:230px;
*/

