// #keyframe
@mixin keyframes($animation_name) {
  @-o-keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}

// #animation
@mixin animation($value) {
  -o-animation:$value;
  -moz-animation:$value;
  -ms-animation:$value;
  -webkit-animation:$value;
  animation:$value;
}
// #transform
@mixin transform($value) {
  -o-transform:$value;
  -moz-transform:$value;
  -ms-transform:$value;
  -webkit-transform:$value;
  transform:$value;
}
// #scale
@mixin scale($x,$y)
{
  -o-transform:scale($x,$y);
  -moz-transform:scale($x,$y);
  -webkit-transform:scale($x,$y);
  transform:scale($x,$y);
}