
%flexDisplay{
  display:-moz-box;
  display:-webkit-box;
  display:box;//old
  display:-ms-flexbox;
  display:flexbox; //hybird
  display:-webkit-flex;
  display:flex;
}
@mixin flexDisplay{
  display:-moz-box;
  display:-webkit-box;
  display:box;//old
  display:-ms-flexbox;
  display:flexbox; //hybird
  display:-webkit-flex;
  display:flex;
}
/**
 * @param: row | row-reverse | column | column-reverse
 */
@mixin flexDirectionForOld($direction){
  @if $direction == row {
    -webkit-box-orient:horizontal ;
    -moz-box-orient:horizontal ;
    box-orient:horizontal;
  } @else if $direction == column {
    -webkit-box-orient:vertical ;
    -moz-box-orient:vertical ;
    box-orient:vertical;
  } @else if $direction == row-reverse{
    -webkit-box-orient:horizontal ;
    -moz-box-orient:horizontal ;
    box-orient:horizontal;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
  } @else{
    -webkit-box-orient:vertical ;
    -moz-box-orient:vertical ;
    box-orient:vertical;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
  }
}
@mixin flexDirection($direction){
  @include flexDirectionForOld($direction);
  -ms-flex-direction:$direction;
  -webkit-flex-direction:$direction;
  flex-direction:$direction;

}
/**
 * @param: nowrap | wrap | wrap-reverse
 */
@mixin flexWrapForOld($param){
  @if $param == nowrap {
    -moz-box-lines: single;
    -webkit-box-lines: single;
    box-lines: single;
  } @else if $param == wrap{
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    box-lines: multiple;
  } @else{
  }
}
@mixin flexWrap($param){
  @include flexWrapForOld($param);
  -ms-flex-wrap:$param;
  -webkit-flex-wrap:$param;
  flex-wrap:$param;
}
/**

 * @param: <row | row-reverse | column | column-reverse> <nowrap | wrap | wrap-reverse>
 */
@mixin flexFlow($paramA,$paramB){
  -ms-flex-flow: $paramA,$paramB;
  flex-flow: $paramA,$paramB;
  -moz-flex-flow: $paramA,$paramB;
  @include flexDirectionForOld($paramA);
  @include flexWrapForOld($paramB);
}

/**
 * @param flex-start | flex-end | center | space-between | space-around
 */
@mixin flexJustifyContentForOldAndHybird($param){
  @if $param == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start; // old
    -ms-flex-pack:start;
    flex-pack:start; //hybird
  } @else if $param == flex-end{
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -ms-flex-pack:end;
    flex-pack:end;
  }@else if $param == center{
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -ms-flex-pack:center;
    flex-pack: center;
  }@else{
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -ms-flex-pack:distribute;
    flex-pack: distribute;
  }
}
@mixin flexJustifyContent($param){
  @include flexJustifyContentForOldAndHybird($param);
  -webkit-justify-content: $param;
  justify-content: $param;
}

/**
 * @param flex-start | flex-end | center | baseline | stretch
 */
@mixin flexAlignItemsForOldAndHybird($param){
  @if $param == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start; // old
    -ms-flex-pack:start;
    flex-pack:start; //hybird
  } @else if $param == flex-end{
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -ms-flex-align:end;
    flex-align:end;
  }@else{
    -webkit-box-align: $param;
    -moz-box-align: $param;
    box-align: $param;
    -ms-flex-align:$param;
    flex-align: $param;
  }
}
@mixin  flexAlignItems($param){
  @include flexAlignItemsForOldAndHybird($param);
  -webkit-webkit-align-items: $param;
  align-items: $param;
}

/**
 * @param flex-start | flex-end | center | space-between | space-around | stretch
 */
@mixin flexAlignContenForHybird($param){
  @if $param == flex-start{
    -ms-flex-line-pack:start;
    flex-line-pack:start;
  } @else if $param == flex-end{
    -ms-flex-line-pack:end;
    flex-line-pack:end;
  }@else if $param == center {
    -ms-flex-line-pack: center;
    flex-line-pack: center;
  }@else if $param == space-between {
    -ms-flex-line-pack:justify;
    flex-line-pack: justify;
  }@else if $param == space-around {
    -ms-flex-line-pack:distribute;
    flex-line-pack: distribute;
  }@else{
    -ms-flex-line-pack:$param;
    flex-line-pack: $param;
  }
}
@mixin flexAlignConten($param){
  @include flexAlignItemsForOldAndHybird($param);
  -webkit-webkit-align-content: $param;
  align-content: $param;
}
/**
 * @param <number(flex-grow,default:0)> ,<number(flex-shrink,default:1)>,<number(flex-basis,default:auto)>
 */
@mixin flex($grow,$shrink:1,$basis:auto){
  -webkit-box-flex: $grow;
  -moz-box-flex: $grow;
  box-flex: $grow;
  @if($grow == none){
    -ms-flex:none;
    -webkit-flex:none;
    flex:none;
  }@else{
    -ms-flex:$grow $shrink $basis;
    -webkit-flex:$grow $shrink $basis;
    flex:$grow $shrink $basis;
  }
}
@mixin flexGrow($grow){
  -webkit-box-flex: $grow;
  -moz-box-flex: $grow;
  box-flex: $grow;
  -ms-flex:$grow;
  -webkit-webkit-flex-grow: $grow;
  flex-grow: $grow;
}
@mixin flexShrink($shrink){
  -webkit-webkit-flex-grow: $shrink;
  flex-grow: $shrink;
}

/**
 * @param <integer>
 */
@mixin Order($num){
  -webkit-box-ordinal-group: $num;
  -moz-box-ordinal-group: $num;
  box-ordinal-group: $num;
  -ms-flex-order:$num;
  flex-order:$num;
  -webkit-order:$num;
  order:$num;

}