$global_border_color_default:#ccc;
$global_color_internal_main:#5191cd;
//background
$global_bg_body_internal:#f5f5f5;
$global_border_color_content:#fff;
//color
$global_color_boxShadow:#333;
$global_color_border:#ccc;
$global_color_nav_a_hover:#fff;
$global_color_nav_bg_hover:#5191cd;
$global_color_search_input_bg:#fff;
$global_color_search_bar_bg:#5191cd;
$global_color_a_hover:#5191cd;
$global_color_more_bg_hover:#5191cd;
$global_color_more_font_hover:#fff;
//frame_maxWidth
$global_frame_maxWidth:960px;
$global_color_column_page_a:#999;