
//icon
.icon{
  background-image: url("../images/icon.png");
  background-size:64px 200px;
}
.icon_Notice{
  width:25px;
  height:18px;
  display:inline-block;
  background-position: 0 0;
  margin-left:20px;
  margin-right: 25px;
  vertical-align: middle;
}
