$article_padding_horizontal:20px;
$article_padding_vertical:20px;

$article_title_fontSize:16px;
$article_titleGroup_marginBottom:14px;

$article_info_color:#808080;

//content
$article_content_padding_bottom:50px;
$article_content_padding_vertical:10px;

//preNext
$article_preNext_padding_vertical:10px;
$article_perNext_fontColor:#2c87ed;
