$list_linehieght:30px;


//border_color
$list_border_color_option1:#ccc;
$list_border_color_option2:#bd9d6b;

//list_style_icon
$list_style_icon_color_option1:#ccc;
$list_style_icon_color_option2:#bd9d6b;
$list_style_icon_color_blue:#2c87ed;

$list_style_icon_size:5px;
$list_style_margin_right:5px;

