$sidebar_width:200px;
$sidebar_padding_horizontal:30px;

$sidebar_section_title_height:36px;
$sidebar_section_title_bg:#f2f2f2;
$sidebar_tag_font_color:#999;

//red style
$sidebar_color_red:#cf5d53;

//blue style
$sidebar_color_blue:#2c87ed;
